/* Global Styling
=============== */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$grey-color: #343a40;
$white-color: #f8f9fa;

:root {
  font-family: "Roboto", sans-serif;
  background-color: $white-color;
  color: $grey-color;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.6rem;
  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}
p {
  font-size: 1.2rem;
  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

small {
  font-size: 1rem;
  @media (max-width: 600px) {
    font-size: 0.8rem;
  }
}

/* Removing Default Styling
=============== */
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

/* Container
=============== */
.container {
  margin: 0 auto;
  text-align: center;
}

/* Form 
=============== */
.form {
  margin: 2em;
}

.input {
  width: 30%;
  padding: 20px;
  border-radius: 7px;

  @media (max-width: 600px) {
    width: 83%;
    text-align: left;
  }
}

.input[type="text"] {
  padding: 10px;
  border: 2px solid #cfdbd5;
}

.button-form {
  margin: auto 1em;
  color: $grey-color;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 600px) {
    width: 5%;
  }
}

/* Button Group
=============== */
.button-group {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.button-list {
  margin: auto 1em;
  padding: 5px 15px;
  border: 2px solid #f5cb5c;
  background-color: #f5cb5c;
  color: #242423;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    margin: auto 1em;
    padding: 5px 15px;
    border: 2px solid #f5cb5c;
    background-color: #f5cb5c;
    color: #242423;
    border-radius: 7px;
    font-weight: 700;
  }

  @media (max-width: 600px) {
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 15px;
  }
}

/* Posters
=============== */
.movie-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  place-items: center;
  margin: 3em auto;
}

.poster {
  padding: 0;
  max-height: 450px;
  margin-bottom: 2em;
  &:hover {
    transform: scale(1.02);
    transition: all 0.5s ease;
    box-shadow: -20px 20px 60px #3c434a;
    cursor: pointer;
  }
}

/* Overlay
=============== */

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-img {
  object-fit: cover;
  max-height: 300px;
}

.movie-details {
  padding-bottom: 0.5em;
  small {
    padding-right: 1em;
  }
}

.modal-text {
  padding: 1em;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  z-index: 9999;
  font-size: 24px;
  background: $white-color;
  border-radius: 18px;
  color: black;
}
